{% load static %}
<h1 class="border-bottom">Useful Phrases</h1>
<table class="translations-table">
  <tr>
    <th>Yes</th>
    <td>അതെ <em>[Athe]</em></td>
  </tr>
  <tr>
    <th>No </th>
    <td>അല്ല <em>[Al-la]</em></td>
  </tr>
  <tr>
    <th>Hello</th>
    <td>നമസ്കാരം <em>[Namaskaram]</em></td>
  </tr>
  <tr>
    <th>See you!</th>
    <td>കാണാം! <em>[Kaanaam]</em></td>
  </tr>
  <tr>
    <th>Please</th>
    <td>ദയവായി <em>[Dayavaayi]</em></td>
  </tr>
  <tr>
    <th>Thank You</th>
    <td>
      നന്ദി <em>[Nan-ni]</em>
    </td>
  </tr>
  <tr>
    <th>Where's the nearest metro station?</th>
    <td>
      അടുത്തുള്ള മെട്രോ സ്റ്റേഷൻ എവിടെയാ? <em>[Aduthulla metro station evideyaa]</em>
    </td>
  </tr>
  <tr>
    <th>I don't speak Malayalam</th>
    <td>എനിക്ക് മലയാളം അറിയില്ല
      <em>[Enikku Malayalam ariyilla]</em>
    </td>
  </tr>
  <tr>
    <th>I want to go to Infopark</th>
    <td>
      എനിക്ക് ഇൻഫോപാർക്കിലേക്ക് പോകണം
      <em>[Enikku Infopark-illekku pokanam]</em>
    </td>
  </tr>
  <tr>
    <th>Where's the toilet?</th>
    <td>ടോയ്ലറ്റ് എവിടെയാ?
      <em>[Toilet evideyaa]</em>
    </td>
  </tr>
</table>
<h2 class="border-bottom">Emergency Contacts</h2>
<ul>
  <li><span class="fg-red-title">Front Desk:</span> +91 84969 41434, registration@debconf.org</li>
  <li><span class="fg-red-title">Police:</span> 100</li>
  <li><span class="fg-red-title">Ambulance:</span> 108</li>
  <li><span class="fg-red-title">Fire:</span> 101</li>
  <li><span class="fg-red-title">Emergencies:</span> 112</li>
</ul>
</div>
